@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;1,300&family=Raleway:wght@500&display=swap');

body {
    font-family: Raleway, sans-serif;
    text-align: center;
    background-color: #809da7;

}

/* container styling */

.main-container {

    justify-content: center;
    width: auto;
}

/* selector styling */

.selector {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    
    
}

.selection {
    vertical-align:top;
    
}

/* player and computer selection styling */

#playerselection {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

#computerselection {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

/* choices styling */

.choices {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    
}

/* footer styling */

footer {
    position: absolute;
    width: 100%;
    text-align: center;
}

/* media query for break point of 525px */

@media screen and (max-width:525px) {

    .choices {
        display: inline-flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px;
}   
}

/* media query for break point of 425px */

@media screen and (max-width:425px) {

    .choices {
        display: inline-flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        max-width: 150px;
        max-height: 150px;

    
}   

#playerselection {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

#computerselection {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

}

