@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;1,300&family=Raleway:wght@500&display=swap');

body {
    font-family: Raleway, sans-serif;
    text-align: center;
    background-color: #809da7;

}

.main-container {

    justify-content: center;
    width: auto;
}

.selector {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    
    
}

.selection {
    vertical-align:top;
    
}

#playerselection {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

#computerselection {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

.choices {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
}

